<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funstill.kelefun">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoBarTheme"
        android:supportsRtl="true">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.funstill.kelefun.photo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name="com.funstill.kelefun.ui.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.funstill.kelefun.ui.LoginActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>
        <activity android:name="com.funstill.kelefun.ui.MainActivity"
            android:label="@string/fan_fou"/>
        <activity android:name="com.funstill.kelefun.widget.ImagePreview"/>
      <!--  <activity android:name="com.funstill.kelefun.widget.ImagePreview"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>-->
    </application>

</manifest>